[Desktop Entry]
Type=Application
Name=نظام المطعمة
Name[en]=Matama
Comment=تدبير المطعمة المدرسية
Exec=/home/abbdo/Downloads/intren--main/.venv/bin/python /home/abbdo/Downloads/intren--main/src/main.py
Path=/home/abbdo/Downloads/intren--main
Icon=utilities-terminal
Terminal=false
Categories=Office;
